#carouselExampleCaptions .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 75vh;
}

#carouselExampleCaptions .carousel-item:before {
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0.5));
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 75vh;
}